<!DOCTYPE html>
<html>
<head>
    <title>Crear Orden</title>
</head>
<body>
    <h1>Crear Orden</h1>
    <form method="post">
        {% csrf_token %}
        <label for="numeroOrden">Número de Orden:</label>
        <input type="text" name="numeroOrden" required><br><br>
        <label for="fecha">Fecha:</label>
        <input type="date" name="fecha" required><br><br>
        <label for="mesa">Mesa:</label>
        <input type="number" name="mesa" required><br><br>
        <label for="mesero">Mesero:</label>
        <input type="number" name="mesero" required><br><br>
        <label for="codigoEstado">Estado del Pedido:</label>
        <select name="codigoEstado" id="codigoEstado" required>
            <option value="0" {% if form.codigoEstado.value == '0' %}selected{% endif %}>En Espera</option>
            <option value="1" {% if form.codigoEstado.value == '1' %}selected{% endif %}>En Preparación</option>
            <option value="2" {% if form.codigoEstado.value == '2' %}selected{% endif %}>Listo para Entrega</option>
            <option value="3" {% if form.codigoEstado.value == '3' %}selected{% endif %}>Entregado</option>
            <option value="4" {% if form.codigoEstado.value == '4' %}selected{% endif %}>Facturado</option>
        </select><br><br>
        <label for="productos">Productos:</label>
        <textarea name="productos" required></textarea><br><br>
        <label for="notas">Notas:</label>
        <textarea name="notas"></textarea><br><br>
        <label for="total">Total:</label>
        <input type="number" name="total" required><br><br>
        <input type="submit" value="Crear Orden">
    </form>
</body>
</html>